.card {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    display: flex;
    place-content: center;
    place-items: center;
  }

  .card::before {
    content: '';
    position: absolute;
    border:1px solid black;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    width:20%;
    height: calc(sqrt(pow(50vw, 2) + pow(30rem, 2)));
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    
  }
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 15px;

  } 

  
  .content {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

